body {
  background-color: #2F3242;
}
/*Убрать полосу прокрутки у элемента*/
.element::-webkit-scrollbar {
  width: 0;
}/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 12px; /* высота для горизонтального скролла */
  background-color: #181818;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 6px;
  border: 3px solid;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: 50px;
}
.message-box {
  height: 225px;
  width: 340px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-top: -100px;
  margin-left: -400px;
  color: #FFF;
  font-family: bahnschrift;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap a {
  background: linear-gradient(160deg, #2b8d85 0%, #282857 100%);;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 23.2px;
  transition: all 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}
.buttons-con .action-link-wrap a:hover {
  background: #323866;
  background: linear-gradient(160deg, #216b65 0%, #282857 100%);;
  color: #fff;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; 
}
#Polygon-3 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; 
}
#Polygon-4 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; 
}
#Polygon-5 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s; 
}

@-webkit-keyframes float {
	100% {
    transform: translateY(20px);
  }
}

@media (min-width: 0px) and (max-width: 850px) {
  svg {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
  }
}
@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
.custom-btn {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 265px;
  transition: all 0.3s ease;
}
.btn-7{
  line-height: 43px;
  color: rgb(255, 255, 255);
  border: 0px solid;
  border-radius: 4px;
  background: linear-gradient(160deg, #87118b 0%, #2222b8 100%);
  font-size: 14px;
  border-color:#353535;
}
.btn-7:hover{
  line-height: 43px;
  color: rgb(255, 255, 255);
  border: 0px solid;
  border-radius: 4px;
  background: linear-gradient(160deg, #d86edb 0%, #4f4fa5 100%);
  font-size: 13px;
  border-color:#ffffff;
}